<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
</head>
<body>
    <h1>Task List</h1>
    Welcome user
    <a href="/logout">Logout</a>


    <div class="container">
    <h1>Task Management</h1>
    <a href="/issues" class="btn btn-primary">View Issues</a>
</body>
</html>